name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0,15,30,45 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
    - name: Fetch latest data
      run: |-
        curl -v -X 'GET' -A "Mozilla/5.0 (compatible; Giessen.de-Watcher/1.0; +github.com/cpwnd)" 'https://www.giessen.de/index.php?object=tx,2874.5&ModID=7&FID=2874.74601.1' -o giessen.de/index.html
    - name: Install deps
      run: |-
       python -m pip install -r requirements.txt
    - name: Parse and write content only
      run: |-
       python bin/content-only.py
    - uses: docker://pandoc/core:3.8
      with:
        args: "-f html -t gfm-raw_html giessen.de/faq.content-only.html -o giessen.de/faq.content-only.md" # gets appended to pandoc command
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
